.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
  stroke-dasharray: 10 10;
}

.link.link-dashed {
  stroke-dasharray: 3 3;
}

.all-dashed .link {
  stroke-dasharray: 3 3;
}

.node circle {
  /*fill: black;*/
  fill: #00000059;
  stroke: #fff;
  stroke-width: 1.5px;
}

.node.Metamodel circle {
  /*fill: black;
    fill: #00000029;*/
  fill: var(--red);
  stroke: #fff;
  stroke-width: 1.5px;
}

.node.Model circle {
  /*fill: blue;*/
  fill: var(--blue);
  stroke: #fff;
}

circle.virtual {
  fill: #ccc;
}

path.link.dependency {
  stroke: red;
}

path.link.distance {
  stroke: violet;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

.link-label {
  font-size: 12px;
}

.node-label {
  font-size: 12px;
  /*text-anchor: middle;*/
}
.node-label-bg {
  fill: #efefef;
  /*stroke: #ccc;
      stroke-width: 1;*/
}
#quality-popup {
  position: absolute;
  bottom: 7rem;
  left: 7rem;
  background: #ededed;
  min-width: 7rem;
  min-height: 7rem;
  max-width: 7rem;
  max-height: 7rem;
  width: 7rem;
  border-radius: 50%;
  transition: 500ms;
  z-index: 99;
  overflow: hidden;
}

#quality-popup.dark-theme {
  background: var(--dark);
  color: #fff;
}

#quality-popup::after {
  content: "";
  background: url("https://image.flaticon.com/icons/png/512/1340/1340054.png")
    center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 250ms;
}

#quality-popup:hover,
#quality-popup.open {
  border-radius: 10px;
  max-width: 350px;
  width: 350px;
  max-height: 80vh;
}

#quality-popup:hover::after,
#quality-popup.open::after {
  opacity: 0;
  visibility: hidden;
}

#quality-popup .quality-popup-content {
  opacity: 0;
}

#quality-popup:hover .quality-popup-content,
#quality-popup.open .quality-popup-content {
  opacity: 1;
}

#quality-popup .quality-popup-content h3 {
  font-size: 2rem;
  padding: 0 1rem;
}

#quality-popup .quality-popup-content .quality-attr-item {
  display: flex;
  justify-content: space-between;
}

#quality-popup .quality-popup-content .quality-attr-item .quality-attr-details {
  display: flex;
  flex: 25%;
  flex-direction: column;
  padding: 1rem;
}

#quality-popup
  .quality-popup-content
  .quality-attr-item
  .quality-attr-details
  .quality-attr-name {
  font-weight: 800;
}

#quality-popup .quality-popup-content.quality-bars {
  padding: 1rem;
}

#quality-popup .quality-popup-content.quality-bars .progressive-bar {
  padding: 0 1rem;
  margin: 3rem 0 1rem;
}

#quality-popup
  .quality-popup-content.quality-bars
  .progressive-bar
  .quality-attr-bar {
  position: relative;
  height: 2rem;
  width: 100%;
  background: rgb(255 255 255 / 60%);
  border-radius: 15px;
}

#quality-popup
  .quality-popup-content.quality-bars
  .progressive-bar
  .quality-attr-bar
  > .level-bar {
  background: var(--blue);
  position: absolute;
  height: 100%;
  border-radius: 15px;
}

#quality-popup
  .quality-popup-content.quality-bars
  .progressive-bar
  .quality-attr-bar
  > .level-bar.success-bar {
  background: var(--green);
}

#quality-popup
  .quality-popup-content.quality-bars
  .progressive-bar
  .quality-attr-bar
  > .level-bar.danger-bar {
  background: var(--red);
}

#quality-popup
  .quality-popup-content.quality-bars
  .progressive-bar
  .quality-attr-bar
  > span {
  position: absolute;
  top: -2rem;
  font-weight: 500;
}

#quality-popup
  .quality-popup-content.quality-bars
  .progressive-bar
  .quality-attr-bar
  > span.bar-left {
  left: 0;
}

#quality-popup
  .quality-popup-content.quality-bars
  .progressive-bar
  .quality-attr-bar
  > span.bar-right {
  right: 0;
}

#quality-popup
  .quality-popup-content.quality-bars
  .progressive-bar
  .quality-attr-bar
  > span.bar-center {
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.tooltip.custom-tooltip {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  /*font-size: 1.5em;*/
  background: var(--dark);
  color: #fff;
  min-width: 250px;
}

@media (max-width: 767px) {
  #header {
    width: 100%;
  }

  .custom-navbar .navbar-nav > li > .dropdown-menu {
    border-radius: 0;
    background: var(--dark-2);
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fefefe;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li:hover > a {
    color: #fff;
    background: var(--green);
  }
}
